<% @results.each do |venue| %>


<!-- <div>
  <%= venue['venue']['name'] %>
</div> -->

<% end %>


<div>
  <%= @results.sample['venue']['name']%>
</div>

<div>
  <%= @results.sample['venue']['name']%>
</div>
